<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="nav navbar-nav navbar-left">
                <a id="header-title" button type="button" class="btn btn-link" routerLink="/" routerLinkActive="active"> Recipe Application </a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <a button type="button" class="btn btn-primary btn-lg" routerLink="/create" routerLinkActive="active">Add Recipe</a>
            </ul>
        </div>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</html>