<!DOCTYPE html>
<html lang="en">
    <nav class="navbar navbar-ligth bg-faded">
        <a id="header-title" button type="button" class="navbar-brand" routerLink="/" routerLinkActive="active">
            <img src="./photos/e-g.jpg" class="d-inline-block align-top" width="30" height="30" alt=""> 
        </a>
        <a routerLink="/" routerLinkActive="active" class="navbar-brand center">E-gineering Family Cookbook</a>
        <span class="navbar-text pull-xs-right">
            <a button type="button" class="btn btn-primary btn-md" routerLink="/create" routerLinkActive="active">Add Recipe</a>
        </span>
    </nav>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</html>