<p>Edit Recipe Component</p>
<!--<label>New Recipe id: <input #newRecipeId /></label>
<label>New Recipe name: <input #newRecipeName /></label>
<label>New Recipe category: <input #newRecipeCategory /></label>
<label>New Recipe photo: <input #newRecipePhoto /></label>
<label>New Recipe ingredients: <input #newRecipeIngredients /></label>
<label>New Recipe steps: <input #newRecipeSteps /></label>
<button (click)="addRecipe(newRecipeId.value, newRecipeName.value, newRecipeCategory.value, newRecipePhoto.value, newRecipeIngredients.value, newRecipeSteps.value)">
    Add Recipe</button>-->