<div *ngIf="recipe">
  <div class="col-md-4">
    <h1 id="recipe-name">{{recipe.name}}</h1>
    <img src="./photos/{{recipe.image}}.jpg">
  </div>
  <div class="col-md-8">
    <h2 style="padding:10px">Ingredients</h2>
    <ul>
      <li id="recipe-ingredients" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>
    <h2 style="padding:10px">Directions</h2>
    <ol>
      <li id="recipe-steps" *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
    </ol>
  </div>
  <div class="col-md-6"></div>
  <button type="button" class="btn btn-primary" (click)="gotoEdit(recipe)">Edit</button>
  <button type="button" class="btn btn-danger" (click)="modal.open()">Delete</button>

  <modal #modal>
    <modal-header [show-close]="true">
      <h4 class="modal-title">Delete Recipe</h4>
    </modal-header>
    <modal-body>
      Are you sure you want to delete {{recipe.name}} recipe?
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-primary" routerLink="/" routerLinkActive="active" (click)="deleteRecipe(recipe.id)">Delete Recipe</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    </modal-footer>
  </modal>
</div>