<div class="col-md-12" style="margin-top:20px;">
  <div class="input-group">
    <input type="text" [(ngModel)]="queryString" id="search" class="form-control" placeholder="Search for Recipes">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
  </div>
</div>

<div class="col-md-12">
  <button class="btn btn-secondary" (click)="queryString = ''">All Recipes</button>
  <button class="btn btn-secondary" (click)="queryString = 'Breakfast'">Breakfast</button>
  <button class="btn btn-secondary" (click)="queryString = 'Dinner'">Dinner</button>
  <button class="btn btn-secondary" (click)="queryString = 'Desserts'">Desserts</button>
  <button class="btn btn-secondary" (click)="queryString = 'Appetizers'">Appetizers</button>
  <button class="btn btn-secondary" (click)="queryString = 'Drinks'">Drinks</button>
</div>

<div class="col-md-12" style="margin-top:20px;">
<div class="card-columns">
<div *ngFor="let recipe of recipes | FilterPipe: queryString" (click)="gotoDetail(recipe)">
    <div class="card">
        <img id="recipe-photo" class="card-img-top" style="width:100%" src="./photos/{{recipe.image}}.jpg" >
        <div id="recipe-name" class="card-header">{{recipe.name}}</div>
        <div class="card-block">
          <cite style="text-overflow: ellipsis">{{recipe.description}}</cite>
          <div class="card-footer">Recipe by: {{recipe.added_by}}</div>
        </div>
    </div>
</div>
</div>
</div>
