<h1 id="recipe-title">Recipes</h1>

<div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for Recipes">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
</div>
<div *ngFor="let recipe of recipes" class=col-md-4 (click)="gotoDetail(recipe)">
    <div class="center" style="padding:10px">
        <img src="./photos/{{recipe.image}}.jpg">
        <h3 id="recipe-name">{{recipe.name}}</h3>
    </div>
</div>
