<div *ngIf="recipe">
  <div class="col-md-4">
    <h1 id="recipe-name">{{recipe.name}}</h1>
    <img src="./photos/{{recipe.image}}.jpg">
  </div>
  <div class="col-md-8">
    <h2 style="padding:10px">Ingredients</h2>
    <ul>
      <li id="recipe-ingredients" *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>
    <h2 style="padding:10px">Directions</h2>
    <ol>
      <li id="recipe-steps" *ngFor="let instruction of recipe.instructions">{{instruction}}</li>
    </ol>
  </div>
  <button type="button" class="btn btn-success btn-lg" (click)="gotoEdit(recipe)">Edit Recipe</button>
</div>